* {
  font-family: helvetica;
  box-sizing: border-box;

}

a {color:black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:blue;}  /* mouse over link */
a:active {color:black;}  /* selected link */

.tiny {
  font-size: 0.8em;
  margin-top: 0.2em;
}
li {
  margin: 0.5em;
  list-style:none
}
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.sidebar{
  width: 30%;
  float:left;
  padding: 1em;
}
.bio img {
  border-radius: 100%;
  width:50%;
  margin-left:25%;
}

.post {
  width: 70%;
  float:left;
  padding: 2em;
}